@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html,
body {
   height: 100%;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1260px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 50;
   width: 100%;

   padding: 20px 0;
   font-size: 16px;
   line-height: 1.6;
   background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

@media (max-width:760px) {
   .header {
      background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.6) 0%, rgba(247, 94, 5, 0.6) 100%);
   }
}

.header__container {
   display: flex;
   align-items: center;
   gap: 60px;
}

@media (max-width:1091px) {
   .header__container {
      gap: 30px;
   }
}

@media (max-width:544px) {
   .header__container {
      flex-direction: column;
      gap: 10px;

   }
}

.header__menu {
   flex-grow: 1;
}

.header__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 40px;
   row-gap: 20px;
}

.header__items a {
   color: #424551;

}

.header__items a::after {
   content: '';
   display: block;
   background: #424551;
   width: 0px;
   height: 2px;
   margin: 0 auto;
   transition: all 1s ease;

}

.header__items a:hover::after {
   width: 30px;
   background: #424551;
   margin: 0 auto;
}



.header__action {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 36px;

}

@media (max-width:1091px) {
   .header__action {
      gap: 10px;
      justify-content: center;
   }
}

@media (max-width:544px) {
   .header__action {
      align-self: stretch;
      flex-direction: column;
   }
}


.button {
   flex: 0 0 auto;
   line-height: 3.25;
   padding: 0 40px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
   color: #FFFFFF;
   letter-spacing: 0.5px;
   text-align: center;
   height: 52px;

   box-shadow: 0 3px 0 #e83731;
   transition: all 1s ease;
}

@media (max-width:544px) {
   .header__button {
      width: 100%;

   }
}

.button:hover {
   box-shadow: 0 1px 0 #e83731;
   top: 2px;

}


.header__login {
   flex: 0 0 auto;
   background: url(../img/header/user.svg) left no-repeat;
   padding-left: 24px;

}




.header__login span {
   color: #424551;
}

.header__login span::after {
   content: '';
   display: block;
   background: #424551;
   width: 0px;
   height: 2px;
   transition: all 1s ease;
}

.header__login span:hover::after {
   padding-right: 112px;
   background: #424551;
}

/* MAIN */
/* First-block */
.first-block {
   background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
   position: relative;
}

.first-block__container {
   padding-top: 200px;
   padding-bottom: 80px;
   position: relative;
   z-index: 5;
}

@media (max-width:1091px) {
   .first-block__container {
      padding-top: 150px;
      padding-bottom: 40px;
   }
}

@media (max-width:760px) {
   .first-block__container {
      padding-bottom: 20px;
   }
}

@media (max-width:544px) {
   .first-block__container {
      padding-top: 235px;
   }
}

.first-block__body {
   display: flex;
   /* justify-content: space-between; */
}

@media (max-width:943px) {
   .first-block__body {
      flex-direction: column;

   }
}

.body {
   margin-bottom: 190px;
}

@media (max-width:1091px) {
   .body {
      margin-bottom: 130px;

   }
}

@media (max-width:943px) {
   .body {
      margin-bottom: 80px;
   }
}

@media (max-width:760px) {
   .body {
      margin-bottom: 20px;
   }
}

.body__content {
   padding-right: 40px;
}

@media (max-width:1091px) {
   .body__content {
      flex: 0 1 60%;
      padding-right: 0px;
   }
}

@media (max-width:943px) {
   .body__content {
      margin-bottom: 20px;

   }
}

.body__content>*:last-child {
   margin-bottom: 0;
}

.body__play {
   font-size: 14px;
   line-height: 1.5;
   color: #1E212C;

   position: relative;
   display: inline-flex;
   align-items: center;
   gap: 16px;
   margin-left: -16px;
   margin-bottom: 24px;
}

.body__play::before {
   content: '';
   flex: 0 0 52px;
   width: 52px;
   height: 52px;
   border-radius: 50%;
   background: #FF3F3A url(../img/section-First/play.svg)center no-repeat;

}

.body__play::after {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 52px;
   height: 52px;
   border-radius: 50%;
   background: #FF3F3A;
   opacity: 0.12;
   z-index: -1;

   animation: play 1s ease infinite alternate running 0s backwards;
}

@keyframes play {
   0% {
      transform: scale(1.1);
   }

   100% {
      transform: scale(1.6);
   }
}



.body__title {
   font-weight: 900;
   font-size: 64px;
   line-height: 1.3;
   letter-spacing: 1px;
   color: #1E212C;
   margin-bottom: 60px;

}

@media (max-width:1091px) {
   .body__title {
      font-size: 44px;

   }
}

@media (max-width:943px) {
   .body__title {
      font-size: 54px;
      text-align: center;
      margin-bottom: 40px;
   }
}

@media (max-width:760px) {
   .body__title {
      margin-bottom: 20px;
   }
}

@media (max-width:544px) {
   .body__title {
      font-size: 34px;
   }
}

.body__btns {
   display: flex;
   gap: 24px;

}

@media (max-width:1091px) {
   .body__btns {
      display: flex;
      flex-direction: column;
   }
}

@media (max-width:943px) {
   .body__btns {
      flex-direction: row;
      justify-content: center;

   }
}

@media (max-width:544px) {
   .body__btns {
      flex-direction: column;



   }
}




.button--transparent {
   background: transparent;
   color: #FF3F3A;
   border: 1px solid #FF3F3A;
   line-height: 3.1;
}



.body__image {
   max-width: 107.8%;
   transform: translate(7.8%, 0);

}

@media (max-width:1091px) {
   .body__image {
      display: block;
   }
}

@media (max-width:943px) {
   .body__image {
      max-width: 100%;
      transform: translate(0, 0);
   }
}


.achievement {
   display: flex;

   justify-content: space-between;
   align-items: center;
   gap: 20px;

}


@media (max-width:760px) {
   .achievement {
      justify-content: space-around;
      flex-wrap: wrap;
      row-gap: 20px;
      column-gap: 50px;
   }
}

.achievement__item {
   display: flex;
   align-items: center;
   gap: 12px;
   color: #1E212C;
}

.achievement__item p {
   font-weight: 400;
}



.achievement__item span {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
}

@media (max-width:544px) {
   .achievement__item span {
      font-size: 26px;
   }
}

.achievement__poin {
   flex: 0 0 8px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: #FF3F3A;
}

@media (max-width:760px) {
   .achievement__poin {
      display: none;
   }
}

/* decor  first-block*/

.decor-first__items {
   position: absolute;
}

.decor-first__item1 {
   top: 12%;
   left: 4.2%;
   background: url(../img/section-First/decor/arrow.svg)0 0 no-repeat;
   width: 96px;
   height: 96px;
}

.decor-first__item2 {
   bottom: -9.2%;
   left: -5.2%;
   background: url(../img/section-First/decor/circles.svg)0 0 no-repeat;
   width: 284px;
   height: 284px;
}

.decor-first__item3 {
   top: 45.09%;
   left: 40.72%;
   background: url(../img/section-First/decor/decor_1.svg)0 0 no-repeat;
   width: 88px;
   height: 47px;
}

.decor-first__item4 {
   top: 70.18%;
   left: 38.17%;
   background: url(../img/section-First/decor/decor_2.svg)0 0 no-repeat;
   width: 61px;
   height: 61px;
}

.decor-first__item5 {
   top: -4.16%;
   right: 5%;
   background: url(../img/section-First/decor/arrow.svg)0 0 no-repeat;
   width: 96px;
   height: 96px;
   transform: rotate(135deg);
}

.decor-first__item6 {
   bottom: 17.96%;
   right: -1.56%;
   background: url(../img/section-First/decor/dots.svg)0 0 no-repeat;
   width: 187px;
   height: 137px;
}

/*Section why-createx */

.why-createx {
   padding: 180px 0;
   position: relative;

}

@media (max-width:1091px) {
   .why-createx {
      padding: 130px 0;
   }
}

@media (max-width:943px) {
   .why-createx {
      padding: 70px 0;
   }
}

@media (max-width:760px) {
   .why-createx {
      padding: 20px 0;
   }
}

.why-createx__container {
   display: flex;
   gap: 30px;
   position: relative;
   z-index: 5;

}

@media (max-width:943px) {
   .why-createx__container {
      flex-direction: column;
      align-items: center;
   }
}


.why-createx__image {
   flex: 0 1 70%;

}

@media (max-width:1091px) {
   .why-createx__image {
      flex: 0 1 50%;
      margin-top: 50px;
   }
}

@media (max-width:943px) {
   .why-createx__image {
      margin-top: 0px;

   }
}

.why-createx__image img {
   max-width: 100%;
}

.why-createx__content {
   flex: 0 1 30%;
}

@media (max-width:1091px) {
   .why-createx__content {
      flex: 0 1 50%;

   }
}

.why-createx__content>*:last-child {
   margin-bottom: 0;
}

.why-createx__subtitle {
   margin-bottom: 8px;

}

.subtitle {
   line-height: 1.5;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
}

.why-createx__title {
   margin-bottom: 40px;
}

@media (max-width:544px) {
   .why-createx__title {
      margin-bottom: 10px;
   }
}


.title {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   color: #1E212C;
}

@media (max-width:544px) {
   .title {
      font-size: 36px;
   }
}

.why-createx__list {
   margin-bottom: 22px;
}

.why-createx__list li {
   font-weight: 400;
   line-height: 1.6;
   color: #424551;
   padding-left: 26px;
}

.why-createx__list li:not(:last-child) {
   margin-bottom: 12px;
}

.why-createx__list li::before {
   content: '';
   width: 16px;
   height: 16px;
   background: url(../img/section-Wy-createx/item.svg)0 0 no-repeat;
   display: inline-block;
   margin-right: 10px;
   margin-left: -26px;

}

.why-createx__button {
   display: inline-block;
}

@media (max-width:544px) {
   .why-createx__button {
      display: block;
   }
}

/* decor why-createx */

.decor-why-cr__items {
   position: absolute;
}

.decor-why-cr__item1 {
   top: 47.74%;
   left: -3.77%;
   background: url(../img/section-Wy-createx/dots.svg)0 0 no-repeat;
   width: 181.18px;
   height: 133px;
   transform: rotate(90deg);
}

.decor-why-cr__item2 {
   top: 47.5%;
   right: -8.59%;
   background: url(../img/section-Wy-createx/circles.svg)0 0 no-repeat;
   width: 287px;
   height: 287px;
}

/*section  drop-us */
.drop-us {
   padding: 30px 0;
}

@media (max-width:544px) {
   .drop-us {
      padding: 10px 0;
   }
}


.drop-us__container {
   display: flex;
   column-gap: 90px;
}

@media (max-width:943px) {
   .drop-us__container {
      display: flex;
      flex-direction: column;
   }
}

.drop-us__image {
   flex: 0 1 40%;

}

@media (max-width:943px) {
   .drop-us__image {
      margin: 0px auto;

   }
}

.drop-us__image img {
   max-width: 100%;
   margin-top: 90px;
}

@media (max-width:943px) {
   .drop-us__image img {
      margin-top: 0px;

   }
}

.drop-us__info {
   flex: 0 1 60%;
}

.form__info>*:last-child {
   margin-bottom: 0;
}

.drop-us__subtitle {
   margin-bottom: 8px;
}



.drop-us__title {
   margin-bottom: 40px;
}

@media (max-width:544px) {
   .drop-us__title {
      margin-bottom: 10px;
   }
}




.form {
   display: flex;
   flex-wrap: wrap;
   row-gap: 25px;
   margin: 0 -12px;
}

@media (max-width:544px) {
   .form {
      flex-direction: column;
      flex-wrap: nowrap;
   }
}

@media (max-width:544px) {
   .form {
      row-gap: 10px;
   }
}

.form__item {
   flex: 0 1 50%;
   padding: 0 12px;
}


.form__message label,
.form__item label {
   line-height: 1.6;
   color: #424551;
   margin-bottom: 8px;
   display: block;
}


.form__item input {
   border: 1px solid #D7DADD;
   border-radius: 4px;
   height: 52px;
   padding: 0 16px;
   resize: vertical;
}

.form__message textarea {
   border: 1px solid #D7DADD;
   border-radius: 4px;
   width: 100%;
   padding: 13px 16px;
   min-height: 123px;
}

.form__message textarea::placeholder,
.form__item input::placeholder {
   line-height: 1.6;
   color: #9A9CA5;

}

.form__message textarea:focus,
.form__item input:focus {
   outline: 2px solid gold;
}



.form__message {
   flex: 1 1 100%;
}

.form__bottom {
   display: flex;
   column-gap: 50px;
   padding: 0 12px;
}

@media (max-width:943px) {
   .form__bottom {
      margin: 0 auto;
      column-gap: 40px;
   }
}

@media (max-width:943px) {
   .form__bottom {
      flex-direction: column;
      row-gap: 40px;
   }
}

@media (max-width:544px) {
   .form__bottom {
      row-gap: 10px;
   }
}

.form__checkbox {
   flex: 0 1 50%;
}

.checkbox {
   position: relative;
}

.checkbox__input {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}

.checkbox__input:checked+.checkbox__label::before {
   background: #FF3F3A url(../img/form/check.svg) center / 70% no-repeat;
}

.checkbox__label {
   cursor: pointer;
   display: inline-flex;
   gap: 10px;
}

.checkbox__label::before {
   content: '';
   flex: 0 0 16px;
   width: 16px;
   height: 16px;
   border: 2px solid #FF3F3A;
   border-radius: 3px;
}

.checkbox__text {
   align-self: center;
}

.form__button {
   flex: 0 1 50%;
}
